.title{
  font-size: 40px;
  font-weight: bold;
}

body{
  background-image: url(./metal.png);
  color: black;
  padding: 50px;
  text-align: center;
}

.white-box{
  background: #FFFFFF;
  display: inline-block;
  padding: 20px;
  width: 400px;
}

td{
  background-color: rgb(179, 179, 179);
  font-size: 50px;
  height: 100px;
  width: 100px;
  transition: all 0.3s ease 0s;
}

td:hover{
  background-color: gray;
}

button{
  display: inline-block;
  background: #191970;
  border-radius: 30px;
  color: #FFFFFF;
  font-size: 20px;
  margin: 20px;
  padding: 10px;
  width: 200px;
}