<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>宇宙船ハレー号からの脱出 │ Project N</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/game.css">
</head>
<body>
  <svg width="0" height="0" class="hidden">
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.47 24.94" id="arrow" class="arrow_svg">
      <title>arrow</title>
      <polygon points="0 24.94 0 19.66 7.35 12.47 0 5.92 0 0 12.47 12.47 0 24.94"/>
    </symbol>
  </svg>
  <header class="header">
    <div class="container">
      <div class="header__logo"><img src="images/logo.png" alt="チームロゴ"></div>
      <div class="header__name">N・S高生制作サイト</div>
    </div>
  </header>
  <main class="main main-page">
    <!-- タイトルエリア　ここから -->

    <h1 class="main-title"><img src="images/main-image.png" alt="宇宙船ハレー号からの脱出"></h1>

    <!-- タイトルエリア　ここまで -->
    <div id="stage">
<!--STAGE2　ここから -->
      <!---------------------------------------------------------------------
        クリア画面の「次のステージへ」ボタンをクリックしたら表示します。
        v-if="next['stage1']"はnext['stage1']がtrueになったら表示します。
      ----------------------------------------------------------------------->
　　　　　<div id="sectionStage2" class="stage">
        <section>
          <div class="section">
            <div class="container">
              <h2 class="section-title section-title--keycolorlight"><span class="section-title__stage">STAGE：2</span><ruby><rb>貨物室</rb><rt>かもつしつ</rt></ruby>の<ruby><rb>扉</rb><rt>とびら</rt></ruby>を<ruby><rb>開</rb><rt>あ</rt></ruby>けよう！</h2>
              <p class="text-center">マニュアルによると<ruby><rb>助</rb><rt>たす</rt></ruby>けるには<ruby><rb>貨物室</rb><rt>かもつしつ</rt></ruby>に<ruby><rb>行</rb><rt>い</rt></ruby>き<br>
                ダクトを<ruby><rb>通</rb><rt>とお</rt></ruby>って<ruby><rb>助</rb><rt>たす</rt></ruby>けるのが<ruby><rb>良</rb><rt>よ</rt></ruby>さそうだ<br>
                しかし、<ruby><rb>貨物室</rb><rt>かもつしつ</rt></ruby>に<ruby><rb>鍵</rb><rt>かぎ</rt></ruby>がかかっている</br>
            「うーん、<ruby><rb>僕</rb><rt>ぼく</rt></ruby>には<ruby><rb>解</rb><rt>と</rt></ruby>けそうもない。<ruby><rb>君</rb><rt>きみ</rt></ruby>はわかるかい？」</p>
            </div>
          </div>
          <div class="stage-column__container section bg-img">
            <div class="container">
              <h2 class="section-title"><span class="section-title__stage">STAGE：2</span>キーワードを入力</h2>
              <!-------------------------------------------------------------
                class名"row"内のclass名"column"が横並びになります。
                改行する場合は以下のように追加してください。
                <div class="row">
                  <div class="column">
                    ～ 内容 ～
                  </div>
                </div>
              ------------------------------------------------------------->
              <div class="row">

                <!-- STAGE2-1　ここから -->
                <div class=“white-box”>
                  <div class=“title”>
                    パスワードを入力
                  </div>
                  <hr>
                  <div class=“squares”>
                    <table align=“center”>
                      <tr>
                        <td id=“0” onclick=“game(0);“>太</td>
                        <td id=“1” onclick=“game(1);“>地</td>
                        <td id=“2” onclick=“game(2);“>火</td>
                      </tr>
                      <tr>
                        <td id=“3” onclick=“game(3);“>水</td>
                        <td id=“4” onclick=“game(4);“>金</td>
                        <td id=“5” onclick=“game(5);“>木</td>
                      </tr>
                      <tr>
                        <td id=“6” onclick=“game(6);“>海</td>
                        <td id=“7” onclick=“game(7);“>天</td>
                        <td id=“8” onclick=“game(8);“>土</td>
                      </tr>
                    </table>
                  </div>
                  <div class=“button”>
                    <div class=“reload”>
                      <button type=“button”onclick=“reset();“>リセット</button>
                    </div>
                    <div class=“ahead”>
                      <button type=“button” onclick=“game(9);“>進む</button>
                    </div>
                  </div>
                </div>
                <!-- STAGE2-1　ここまで　　-->


              </div><!-- /.row -->

            </div>
          </div>
        </section>

        <!-- STAGE2クリア画面　ここから -->
        <section v-if="clear['stage2']" v-bind:class="{isClear:clear['stage2']}"  class="section section--clear bg-color--gray">
          <div class="container">
            <div class="clear-message">
              <div class="clear-message__title">STAGE：2　クリア！</div>
              <div class="clear-message__content">貨物室の扉が開いた<br>
               これでダクトを使って仲間を助ける事ができる<br>
                次のステージの謎を解こう！</div>
                 <a class="btn" href="thiｒｄ.html">次のステージへ<svg class="btn__arrow"><use xlink:href="#arrow"></use></svg></a>
            </div>
          </div>
        </section>
        <!-- STAGE2クリア画面　ここまで -->
      </div>
      <!-- STAGE2　ここまで -->

   

    </div>
  </main>
  <footer class="footer section bg-color--gray">
    <div class="container">
        <p class="text-center">授業主催： N・S高<br>協力：株式会社SCRAP<br>企画制作：N・S高生</p>
        <p class="text-center">「リアル脱出ゲーム」は株式会社SCRAPの登録商標です。</p>
        <p class="text-center">株式会社SCRAPとN・S高で実施した授業「リアル脱出ゲームの作り方」の一環で<br>生徒が制作したものであり、SCRAPが主催/公認するものではありません。</p>
    </div>
  </footer>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="js/main.js"></script>
  
</body>
</html>
